<a href="https://colab.research.google.com/github/mateor32/modelos1-20252-competenciaKaggle/blob/main/02-prepocesado.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
#cargar archivo
datos = pd.read_csv("/content/drive/MyDrive/competencia/train.csv", sep=",")
train = pd.DataFrame(datos)
print(train.head())

       ID  PERIODO_ACADEMICO            E_PRGM_ACADEMICO E_PRGM_DEPARTAMENTO  \
0  904256              20212                  ENFERMERIA              BOGOTÁ
1  645256              20212                     DERECHO           ATLANTICO
2  308367              20203       MERCADEO Y PUBLICIDAD              BOGOTÁ
3  470353              20195  ADMINISTRACION DE EMPRESAS           SANTANDER
4  989032              20212                  PSICOLOGIA           ANTIOQUIA

                E_VALORMATRICULAUNIVERSIDAD E_HORASSEMANATRABAJA  \
0  Entre 5.5 millones y menos de 7 millones    Menos de 10 horas
1  Entre 2.5 millones y menos de 4 millones                    0
2  Entre 2.5 millones y menos de 4 millones      Más de 30 horas
3  Entre 4 millones y menos de 5.5 millones                    0
4  Entre 2.5 millones y menos de 4 millones  Entre 21 y 30 horas

  F_ESTRATOVIVIENDA F_TIENEINTERNET                    F_EDUCACIONPADRE  \
0         Estrato 3              Si    Técnica o tecnológica incompleta
1         Estrato 3              No      Técnica o tecnológica completa
2         Estrato 3              Si  Secundaria (Bachillerato) completa
3         Estrato 4              Si                             No sabe
4         Estrato 3              Si                   Primaria completa

  F_TIENELAVADORA  ... E_PRIVADO_LIBERTAD E_PAGOMATRICULAPROPIO  \
0              Si  ...                  N                    No
1              Si  ...                  N                    No
2              Si  ...                  N                    No
3              Si  ...                  N                    No
4              Si  ...                  N                    No

  F_TIENECOMPUTADOR F_TIENEINTERNET.1                    F_EDUCACIONMADRE  \
0                Si                Si                           Postgrado
1                Si                No    Técnica o tecnológica incompleta
2                No                Si  Secundaria (Bachillerato) completa
3                Si                Si  Secundaria (Bachillerato) completa
4                Si                Si                   Primaria completa

  RENDIMIENTO_GLOBAL INDICADOR_1  INDICADOR_2  INDICADOR_3  INDICADOR_4
0         medio-alto       0.322        0.208        0.310        0.267
1               bajo       0.311        0.215        0.292        0.264
2               bajo       0.297        0.214        0.305        0.264
3               alto       0.485        0.172        0.252        0.190
4         medio-bajo       0.316        0.232        0.285        0.294

[5 rows x 21 columns]

In [ ]:
display(train.describe())

,ID,PERIODO_ACADEMICO,INDICADOR_1,INDICADOR_2,INDICADOR_3,INDICADOR_4
count,692500.000000,692500.000000,692500.000000,692500.000000,692500.000000,692500.000000
mean,494606.130576,20198.366679,0.268629,0.259996,0.262087,0.262903
std,285585.209455,10.535037,0.122130,0.093480,0.058862,0.067944
min,1.000000,20183.000000,0.000000,0.000000,0.000000,0.000000
25%,247324.750000,20195.000000,0.203000,0.212000,0.254000,0.255000
50%,494564.500000,20195.000000,0.240000,0.271000,0.276000,0.285000
75%,741782.500000,20203.000000,0.314000,0.309000,0.293000,0.303000
max,989286.000000,20213.000000,0.657000,0.487000,0.320000,0.332000

In [ ]:
train.columns = train.columns.str.strip()
train.columns = train.columns.str.replace(' ', '_')
train.columns = train.columns.str.replace('.', '_')
train.columns = train.columns.str.upper()

In [ ]:
y = train['RENDIMIENTO_GLOBAL']     # tenemos que guardala para que en el paso de codificacion y normalizacion no afecte el modelo
X = train.drop('RENDIMIENTO_GLOBAL', axis=1)

# Revision de columnas sin datos o faltantes

In [ ]:
train.info()
train.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 692500 entries, 0 to 692499
Data columns (total 21 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   ID                           692500 non-null  int64
 1   PERIODO_ACADEMICO            692500 non-null  int64
 2   E_PRGM_ACADEMICO             692500 non-null  object
 3   E_PRGM_DEPARTAMENTO          692500 non-null  object
 4   E_VALORMATRICULAUNIVERSIDAD  686213 non-null  object
 5   E_HORASSEMANATRABAJA         661643 non-null  object
 6   F_ESTRATOVIVIENDA            660363 non-null  object
 7   F_TIENEINTERNET              665871 non-null  object
 8   F_EDUCACIONPADRE             669322 non-null  object
 9   F_TIENELAVADORA              652727 non-null  object
 10  F_TIENEAUTOMOVIL             648877 non-null  object
 11  E_PRIVADO_LIBERTAD           692500 non-null  object
 12  E_PAGOMATRICULAPROPIO        686002 non-null  object
 13  F_TIENECOMPUTADOR            654397 non-null  object
 14  F_TIENEINTERNET_1            665871 non-null  object
 15  F_EDUCACIONMADRE             668836 non-null  object
 16  RENDIMIENTO_GLOBAL           692500 non-null  object
 17  INDICADOR_1                  692500 non-null  float64
 18  INDICADOR_2                  692500 non-null  float64
 19  INDICADOR_3                  692500 non-null  float64
 20  INDICADOR_4                  692500 non-null  float64
dtypes: float64(4), int64(2), object(15)
memory usage: 111.0+ MB

ID                                 0
PERIODO_ACADEMICO                  0
E_PRGM_ACADEMICO                   0
E_PRGM_DEPARTAMENTO                0
E_VALORMATRICULAUNIVERSIDAD     6287
E_HORASSEMANATRABAJA           30857
F_ESTRATOVIVIENDA              32137
F_TIENEINTERNET                26629
F_EDUCACIONPADRE               23178
F_TIENELAVADORA                39773
F_TIENEAUTOMOVIL               43623
E_PRIVADO_LIBERTAD                 0
E_PAGOMATRICULAPROPIO           6498
F_TIENECOMPUTADOR              38103
F_TIENEINTERNET_1              26629
F_EDUCACIONMADRE               23664
RENDIMIENTO_GLOBAL                 0
INDICADOR_1                        0
INDICADOR_2                        0
INDICADOR_3                        0
INDICADOR_4                        0
dtype: int64

Debido a que algunas columnas no tiene valores, las columnas que son de categoria, las vamos a llenar con los valores que mas se repiten, es decir la moda.

In [ ]:
from sklearn.impute import  SimpleImputer

imputer_num = SimpleImputer(strategy='mean') # Crear imputador
imputer_cte = SimpleImputer(strategy='most_frequent') # Crear imputador

num = X.select_dtypes(include=['int64', 'float64']).columns
cte = X.select_dtypes(include=['object']).columns

X[num] = imputer_num.fit_transform(X[num])
X[cte] = imputer_cte.fit_transform(X[cte])

In [ ]:
train.isnull().sum()

ID                                 0
PERIODO_ACADEMICO                  0
E_PRGM_ACADEMICO                   0
E_PRGM_DEPARTAMENTO                0
E_VALORMATRICULAUNIVERSIDAD     6287
E_HORASSEMANATRABAJA           30857
F_ESTRATOVIVIENDA              32137
F_TIENEINTERNET                26629
F_EDUCACIONPADRE               23178
F_TIENELAVADORA                39773
F_TIENEAUTOMOVIL               43623
E_PRIVADO_LIBERTAD                 0
E_PAGOMATRICULAPROPIO           6498
F_TIENECOMPUTADOR              38103
F_TIENEINTERNET_1              26629
F_EDUCACIONMADRE               23664
RENDIMIENTO_GLOBAL                 0
INDICADOR_1                        0
INDICADOR_2                        0
INDICADOR_3                        0
INDICADOR_4                        0
dtype: int64

In [ ]:
train.head()

,ID,PERIODO_ACADEMICO,E_PRGM_ACADEMICO,E_PRGM_DEPARTAMENTO,E_VALORMATRICULAUNIVERSIDAD,E_HORASSEMANATRABAJA,F_ESTRATOVIVIENDA,F_TIENEINTERNET,F_EDUCACIONPADRE,F_TIENELAVADORA,...,E_PRIVADO_LIBERTAD,E_PAGOMATRICULAPROPIO,F_TIENECOMPUTADOR,F_TIENEINTERNET_1,F_EDUCACIONMADRE,RENDIMIENTO_GLOBAL,INDICADOR_1,INDICADOR_2,INDICADOR_3,INDICADOR_4
0,904256,20212,ENFERMERIA,BOGOTÁ,Entre 5.5 millones y menos de 7 millones,Menos de 10 horas,Estrato 3,Si,Técnica o tecnológica incompleta,Si,...,N,No,Si,Si,Postgrado,medio-alto,0.322,0.208,0.310,0.267
1,645256,20212,DERECHO,ATLANTICO,Entre 2.5 millones y menos de 4 millones,0,Estrato 3,No,Técnica o tecnológica completa,Si,...,N,No,Si,No,Técnica o tecnológica incompleta,bajo,0.311,0.215,0.292,0.264
2,308367,20203,MERCADEO Y PUBLICIDAD,BOGOTÁ,Entre 2.5 millones y menos de 4 millones,Más de 30 horas,Estrato 3,Si,Secundaria (Bachillerato) completa,Si,...,N,No,No,Si,Secundaria (Bachillerato) completa,bajo,0.297,0.214,0.305,0.264
3,470353,20195,ADMINISTRACION DE EMPRESAS,SANTANDER,Entre 4 millones y menos de 5.5 millones,0,Estrato 4,Si,No sabe,Si,...,N,No,Si,Si,Secundaria (Bachillerato) completa,alto,0.485,0.172,0.252,0.190
4,989032,20212,PSICOLOGIA,ANTIOQUIA,Entre 2.5 millones y menos de 4 millones,Entre 21 y 30 horas,Estrato 3,Si,Primaria completa,Si,...,N,No,Si,Si,Primaria completa,medio-bajo,0.316,0.232,0.285,0.294

In [ ]:
train.select_dtypes(include=['int64', 'float64']).isnull().sum()[lambda x: x > 0] # verificacion de columnas numericas vacias

Series([], dtype: int64)

# Codificación One-Hot

Para que el modelo pueda procesar las columnas de tipo object, que son variables categóricas, las convertimos en variables númericas.
Usamos "drop_first = true" para reducir la multicolinealidad, es decir evitar la duplicidad de información

In [ ]:
X = pd.get_dummies(X, drop_first=True)

# Normalización

La variable ID no se normaliza debido a que funciona como un identificador, no es una variable con algún sentido matemático para nuestro modelo

In [ ]:
from sklearn.preprocessing import MinMaxScaler

column_normalizar = [
    'INDICADOR_1',
    'INDICADOR_2',
    'INDICADOR_3',
    'INDICADOR_4'
]

scaler = MinMaxScaler()
X[column_normalizar] = scaler.fit_transform(X[column_normalizar])

In [ ]:
print(X.head())
print(y.value_counts())

         ID  PERIODO_ACADEMICO  INDICADOR_1  INDICADOR_2  INDICADOR_3  \
0  904256.0            20212.0     0.490107     0.427105     0.968750
1  645256.0            20212.0     0.473364     0.441478     0.912500
2  308367.0            20203.0     0.452055     0.439425     0.953125
3  470353.0            20195.0     0.738204     0.353183     0.787500
4  989032.0            20212.0     0.480974     0.476386     0.890625

   INDICADOR_4  E_PRGM_ACADEMICO_ACTIVIDAD FISICA Y DEPORTE  \
0     0.804217                                        False
1     0.795181                                        False
2     0.795181                                        False
3     0.572289                                        False
4     0.885542                                        False

   E_PRGM_ACADEMICO_ACUICULTURA  E_PRGM_ACADEMICO_ADMINISTRACION  \
0                         False                            False
1                         False                            False
2                         False                            False
3                         False                            False
4                         False                            False

   E_PRGM_ACADEMICO_ADMINISTRACION  FINANCIERA  ...  F_EDUCACIONMADRE_Ninguno  \
0                                        False  ...                     False
1                                        False  ...                     False
2                                        False  ...                     False
3                                        False  ...                     False
4                                        False  ...                     False

   F_EDUCACIONMADRE_No Aplica  F_EDUCACIONMADRE_No sabe  \
0                       False                     False
1                       False                     False
2                       False                     False
3                       False                     False
4                       False                     False

   F_EDUCACIONMADRE_Postgrado  F_EDUCACIONMADRE_Primaria completa  \
0                        True                               False
1                       False                               False
2                       False                               False
3                       False                               False
4                       False                                True

   F_EDUCACIONMADRE_Primaria incompleta  \
0                                 False
1                                 False
2                                 False
3                                 False
4                                 False

   F_EDUCACIONMADRE_Secundaria (Bachillerato) completa  \
0                                              False
1                                              False
2                                               True
3                                               True
4                                              False

   F_EDUCACIONMADRE_Secundaria (Bachillerato) incompleta  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

   F_EDUCACIONMADRE_Técnica o tecnológica completa  \
0                                            False
1                                            False
2                                            False
3                                            False
4                                            False

   F_EDUCACIONMADRE_Técnica o tecnológica incompleta
0                                              False
1                                               True
2                                              False
3                                              False
4                                              False

[5 rows x 1029 columns]
RENDIMIENTO_GLOBAL
alto          175619
bajo          172987
medio-bajo    172275
medio-alto    171619
Name: count, dtype: int64

# Últimas verificaciones

In [ ]:
print("Valores faltantes después del preprocesamiento:")
print(X.isnull().sum().sum())  # total de valores faltantes

Valores faltantes después del preprocesamiento:
0

In [ ]:
print(X.dtypes.value_counts())

bool       1023
float64       6
Name: count, dtype: int64

# Guardar nuevo archivo

In [ ]:
X.to_csv("/content/drive/MyDrive/competencia/X_preprocesado.csv", index=False)
y.to_csv("/content/drive/MyDrive/competencia/y_train.csv", index=False)